.navbar-custom {
  background: linear-gradient(to right, #c8c8c8, #8fb5b9);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  max-height: 50px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-buttons {
  position: fixed;
  left: 0;
  transform: translateY(-50%);
  padding: 10px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  flex-direction: row; /* Arrange buttons vertically */
  margin-top: 30px;
  margin-left: 20px;
}

.navbar-buttons .btn {
  background-color: #009ba6;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar-buttons .btn:hover {
  background-color: #007c87;
  color: white;
}

.container {
  margin-top: 100px; /* Adjust the margin to account for the fixed navbar */
}


/* Add this to your CSS file */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #629db6;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* .bm-cross {
  background: #bdc3c7;
} */

.bm-menu {
  background: #bbc2e1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



